.page-container {
  width: 100%;
  max-width: 100%;
}

@include media-breakpoint-up(xl) {
  .page-container,
  .navbar-container {
    max-width: map-get($grid-breakpoints, 'xl');
    width: 100%;
  }
}

.gray-header {
  font-weight: bold;
  color: $gray;
}

.card {
  border-radius: 0.5rem;
}

.top-border {
  border-top-color: $light-blue;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.arrow_right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid white;
  display: inline-block;
  margin-right: 10px;
}

.page-content {
  border-radius: 5px;
  background-color: $med-dark-blue;
  padding: 25px;

  h3,
  p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.36;
  }

  h3 {
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}
