.page-container {
  width: 100%;
  max-width: 100%;
}

@include media-breakpoint-up(xl) {
  .page-container,
  .navbar-container {
    max-width: map-get($grid-breakpoints, 'xl');
    width: 100%;
  }
}

.gray-header {
  font-weight: bold;
  color: $gray;
}

.card {
  border-radius: 0.5rem;
}

.top-border {
  border-top-color: $light-blue;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.arrow_right {
  border-top: 0.26666666666666666rem solid transparent;
  border-bottom: 0.26666666666666666rem solid transparent;
  border-left: 0.3333333333333333rem solid white;
  display: inline-block;
  margin-right: 0.6666666666666666rem;
}

.page-content {
  border-radius: 0.3333333333333333rem;
  background-color: $med-dark-blue;
  padding: 0.82rem;
}
