.page-container {
  width: 100%;
  max-width: 100%;
}

@include media-breakpoint-up(xl) {
  .page-container,
  .navbar-container {
    max-width: map-get($grid-breakpoints, 'xl');
    width: 100%;
  }
}

.gray-header {
  font-weight: bold;
  color: $gray;
}

.top-border {
  border-top-color: $light-blue;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.arrow_right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid white;
  display: inline-block;
  margin-right: 10px;
}

.page-content {
  border-radius: 5px;
  background-color: $med-dark-blue;
  padding: 12.3px;
}

.unread {
  width: 10px;
  height: 10px;
  background-color: $red;
  border-radius: 10px;
  position: absolute;
  margin-left: 15px;
}

.local-search {
  border: solid 1px $med-blue;
  background-color: #021e46;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  height: 36px;
  border-radius: 5px;
  color: white;
}
